<html>
    <head>
    <title>Reddit</title>
    </head>
    <body>
        <h1>Reddit</h1>
        <div id="wrapper">
            <div name="headnav"></div>
<!--headcategory by YUKIE ---------------------------------------------------------------------->
            <div name="headcategory">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/82/Reddit_logo_and_wordmark.svg/1200px-Reddit_logo_and_wordmark.svg.png" width="100" height="35">
                <div id="navbar"><a href="/">reddit.com</a>&nbsp;
                    <ul class="tabmenu ">
                    <li class="selected"><a href="https://www.reddit.com/" class="choice">hot</a></li>
                    <li><a href="https://www.reddit.com/new/" class="choice">new</a></li>
                    <li><a href="https://www.reddit.com/rising/" class="choice">rising</a></li>
                    <li><a href="https://www.reddit.com/controversial/" class="choice">controversial</a></li>
                    <li><a href="https://www.reddit.com/top/" class="choice">top</a></li>
                    <li><a href="https://www.reddit.com/gilded/" class="choice">gilded</a></li>
                    <li><a href="https://www.reddit.com/wiki/" class="choice">wiki</a></li>
                    </ul>
                </div>
                <div><p>What to join? <a href="">Log in</a> or <a href="">sign up</a> in seconds. | English</p></div>
            </div>

<!--dash by YUKIE ---------------------------------------------------------------------->
            <div name="dash">
                <!--topmenu  -->
                <div><p>Popular in: <a href="">United States</a>&nbsp;Select state: <a href="">California</a></p></div>    
                <!--contents starts from recommended -->
                    <div class="postcontent"><img src="/">
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">promoted</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div>            
                <!--contents starts from 1-25 -->
                {% for x in messages: %}
            <div>
                <p>{{ x['firstname'] }}, {{ x['created_at'] }}</p>
                <p>{{ x['message'] }}</p>
                <form action="/post_comment" method='POST'><input type="hidden" name="messages_id" value="{{x['id']}}">
                <textarea name="comment"  rows="4" cols="150"></textarea>
                <input type="submit" value= "ADD comment">
                </form>
            </div>
            {% for comment in comments %}
                {% if comment['users_id'] == x['users_id'] %}
            <div>
                <p>{{ comment['firstname'] }}, {{ comment['created_at'] }}</p>
                <p>{{ comment['comment'] }}</p>
                {%endif%}
            {%endfor%}
        </div>
        
        
        {% endfor %}
                    <div class="postcontent"><span>1</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>2</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>3</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>4</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>5</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>6</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>7</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>8</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>9</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>10</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>11</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>12</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>13</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>14</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>15</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>16</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>17</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>18</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>19</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>20</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>21</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>22</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 

                    <div class="postcontent"><span>23</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 
                
              
                                    
                    <div class="postcontent"><span>24</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div>
                    
                    <div class="postcontent"><span>25</span>
                        <div class="midcol unvoted"> 
                            <div class="arrow up login-required access-required" data-event-action="upvote" role="button" aria-label="upvote" tabindex="0"></div>
                            <div class="score dislikes">10.1k</div>
                            <div class="score unvoted">10.1k</div>
                            <div class="score likes">10.1k</div>
                            <div class="arrow down login-required access-required" data-event-action="downvote" role="button" aria-label="downvote" tabindex="0"></div>    
                        </div>
                        <img src="image">
                        <p><a href="https://">post title</a></p>
                        <div>video players</div>
                        <p>submitted by {{}} hours ago. by {{}}</p>
                        <ul class="flat-list buttons">
                            <li class="first"><a href="/" class="bylink comments may-blank" rel="nofollow">1767 comments</a></li>
                            <li class="share"><a class="post-sharing-button" href="javascript: void 0;">share</a></li>
                            <li class="report-button login-required"><a href="javascript:void(0)" class="reportbtn access-required">report</a></li>
                        </ul>                  
                    </div> 
                
                <!--the end of 25 contents  -->
                
                    <div><span>view more:</span><span><a href="/">next></a></span></div>

            </div>
<!--dash by YUKIE ---------------------------------------------------------------------->
            <div name="login"></div>
            <div name="extra"></div>
            <div name="footer"></div>
        </div>
    </body>
</html>


